.principal-background-color{
    background-color: #00B2CA;
}
.principal-text-color{
    color: #00FC57;
}

.segundo-background-color{
    background-color: #00FC57;
}

.segundo-text-color{
    color: #00B2CA;
}
.text-branco-color{
    color: #ffff;
}

.active a.page-link {
    background-color: #00B2CA !important;
    color: white;
    border-color: #00B2CA;
}

.form-inline button:hover{
    background-color: #00FC57;

}
